---
layout: default
---

<div id="main" role="main">

  <article class="page">
    <div class="page__inner-wrap">
      <header>
        {% if page.title %}
        <h2 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h2>
        {% endif %}
        {% if page.date %}
        <h4 class="page__date">{{ page.date | date: "%b %e, %Y" }}
        </h4>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        <p>
          {{ content }}
        </p>

        {% if page.link %}
        <div>
          <a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct
            Link" }}</a>
        </div>
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
        <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% if page.citation and page.paperurl %}
      <h4>
        Recommended citation: {{ page.citation }} <a href="{{ page.paperurl }}"><u>{{ page.paperurl }}</u></a>
      </h4>
      {% elsif page.citation %}
      <h4>Recommended citation: {{ page.citation }} </h4>
      {% endif %}
      
      {% if page.share %}{% include social-share.html %}{% endif %}

      <hr>
  
      {% if page.related_posts %}
      <div class="page__related">
        <h5>Related Posts</h5>
        {% for post in page.related_posts %}
        <h5 style="text-align: left">
          {{ post.date | date: "%b %e, %Y" }}
          <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
        </h5>
        {% endfor %}
      </div>
      {% endif %}

    </div>


  </article>

</div>
